<ion-content [fullscreen]="true">
  <div class="flex flex-col items-center justify-center h-full">
    <ion-img src="../../../assets/images/Logo.svg" alt="Logo"></ion-img>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col items">
        <div class="bg-gray-200 p-4 flex flex-col my-6 rounded-lg">
          <label>Correo:</label>
          <ion-input class="bg-white mb-2 rounded-md border-solid border-2 border-black !px-2" type="text" placeholder="Escriba su correo" (keyup)="checkCredentials()" formControlName="email"></ion-input>
          <label>Contraseña:</label>
          <div class="flex items-center bg-white px-2 rounded-md border-solid border-2 border-black mb-2">
            <ion-input class="h-8" type="password" #passwordInput placeholder="Escriba su contraseña" (keyup)="checkCredentials()" formControlName="password"></ion-input>
            <span><ion-icon class="w-6 h-6 pt-1" name="eye-outline"  #passwordIcon (click)="showPassword(passwordInput, passwordIcon)"></ion-icon></span>
          </div>
          <div class="flex flex-col text-xs items-center">
            <p class="text-gray-600">Si no tienes cuenta puedes</p>
            <a (click)="redirectToRegister()" class="underline underline-offset-1 font-bold">Registrarte aquí</a>
          </div>
        </div>
        <button class="text-white font-bold rounded-lg p-3" [ngClass]="{'bg-gray-200': noData,'bg-black ': !noData}" [disabled]="loginForm.pristine" >Iniciar Sesión</button>
      </form>
      <div class="bg-red-400 text-white flex p-2 justify-center mt-4" [ngClass]="{'bg-gray-200': wrongLogin,'invisible': !wrongLogin}">
        <p>Los datos introducidos no son correctos</p>
        <ion-img class="pl-2" src="../../../assets/images/errorIcon.svg" alt="error"></ion-img>
      </div>
  </div>
</ion-content>
