<ion-header [translucent]="true">
  <ion-toolbar class="border-2 border-black">
    <ion-img src="../../../assets/images/Logo.svg" alt="Logo" class="w-12 h-12 mx-auto my-3"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex flex-col items-center m-4">
    <div class="flex flex-col items-center">
      <div class="bg-gray-200 border-2 border-black rounded-full p-4 w-24 h-24 flex justify-center items-center">
        <p class="text-4xl">{{userNameFirstLetter}}</p>
        <p class="text-4xl pl-1">{{userSurnameFirstLetter}}</p>
      </div>
      <div class="flex">
        <p>{{userName}}</p>
        <p class="pl-1">{{userSurname}}</p>
      </div>
    </div>


    <div class="py-6 flex">
      <div class="grid grid-cols-2">
        <a class="col1" [routerLink]="['/profile','editProfile']">
          <div class="bg-gray-200 h-24 w-24 rounded-xl">
            <img class="icon" src="../../assets/images/editProfileIcon.svg">
          </div>
          <div>
            <h2 class="text-sm text-principal text-center">Editar perfil</h2>
          </div>
        </a>

        <div class="col2">
          <div class="bg-gray-200 h-24 w-24 rounded-xl">
            <img class="icon" src="../../assets/images/myBuysIcon.svg">
          </div>
          <div>
            <h2 class="text-sm text-principal text-center">Mis compras</h2>
          </div>
        </div>

        <div class="col1 mt-4">
          <div [routerLink]="['/profile','paymentMethod']" class="bg-gray-200 h-24 w-24 rounded-xl">
            <img class="icon" src="../../assets/images/paymentMethodIcon.svg">
          </div>
          <div>
            <h2 class="text-sm text-principal text-center">Método de pago</h2>
          </div>
        </div>

        <div class="col2 mt-4 pr-12">
          <div [routerLink]="['/profile','myFavs']" class="bg-gray-200 h-24 w-24 rounded-xl">
            <img class="icon" src="../../assets/images/likeIcon.svg">
          </div>

          <h2 class="text-sm text-principal text-center">Mis favoritos</h2>
        </div>
      </div>
    </div>
    <button (click)="logOut()" class="bg-black text-white font-bold rounded-lg p-3">Cerrar sesión</button>
  </div>
</ion-content>
