.col1{
  padding-left: calc(100% - 9.5rem);
  text-decoration: none;
  color: black;
}

.col2{
  padding-left: calc(0% + 0.5rem);
  padding-right: calc(100% - 10rem);
}

.icon{
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}
