<ion-header [translucent]="true">
  <ion-toolbar class="border-2 border-black">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-img src="../../../assets/images/Logo.svg" alt="Logo" class="logo w-12 h-12 my-3"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex flex-col items-center justify-center h-full">
      <p class="font-semibold text-lg">Editar perfil</p>
      <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="flex flex-col items">
        <div class="bg-gray-200 p-4 flex flex-col my-6 rounded-lg">
          <label>Cambiar nombre:</label>
          <ion-input class="bg-white mb-2 rounded-md border-solid border-2 border-black !px-2" type="text" placeholder="Escriba su nombre" (keyup)="checkCredentials()" formControlName="new_name"></ion-input>
          <label>Cambiar apellido:</label>
          <ion-input class="bg-white mb-2 rounded-md border-solid border-2 border-black !px-2" type="text" placeholder="Escriba su apellido" (keyup)="checkCredentials()" formControlName="new_surname"></ion-input>
          <label>Cambiar contraseña:</label>
          <div class="flex items-center bg-white px-2 rounded-md border-solid border-2 border-black mb-2">
            <ion-input class="h-8" type="password" #passwordInput placeholder="Escriba su contraseña" (keyup)="checkCredentials()" formControlName="new_password"></ion-input>
            <span><ion-icon class="w-6 h-6 pt-1" #passwordIcon (click)="showPassword(passwordInput, passwordIcon)" name="eye-outline"></ion-icon></span>
          </div>
        </div>
        <button class="bg-black text-white font-bold rounded-lg p-3" [ngClass]="{'bg-gray-200': noData,'bg-black ': !noData}" [disabled]="updateProfileForm.pristine" >Guardar cambios</button>
      </form>
      <div class="bg-red-400 text-white flex p-2 justify-center mt-4" [ngClass]="{'bg-gray-200': wrongEditProfile,'invisible': !wrongEditProfile}">
        <p>Los datos introducidos no son correctos</p>
        <ion-img class="pl-2" src="../../../assets/images/errorIcon.svg" alt="error"></ion-img>
      </div>
  </div>
</ion-content>
